# 1
### 홀만 출력하세요
### string = "홀짝홀짝홀짝홀짝홀짝"

In [4]:
string = "홀짝홀짝홀짝홀짝홀짝"
print(string[::2])

홀홀홀홀홀

# 2
### 민희는 아이스크림을 먹고 싶어한다
### 편의점에 갔는데 아이스크림의 가격과 종류가 다음과 같이 있을 때
### icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
### 아이스크림 금액의 총합을 출력하세요

In [2]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

# 3
#### 경민은 두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하고싶습니다..
#### 경민을 도와 함수를 완성시켜주세요~~
#### 예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

#### 제한 조건
- a와 b가 같은 경우는 둘 중 아무 수나 리턴하세요.
- a와 b는 -10,000,000 이상 10,000,000 이하인 정수입니다.
- a와 b의 대소관계는 정해져있지 않습니다.

#### 문제 a,b=182,340
#### 문제의도 : 알고리즘보다는 조건문 사용 방법

In [7]:
def solution(a, b):
    answer = 0
    if a>b:
        for i in range(b,a+1):
            answer+=i
    elif a<b:
        for i in range(a,b+1):
            answer+=i
    else:
        answer=a
    
    return answer

print(solution(182,340))

41499

# 4
### 다음 문장으로부터 모음('aeiou')을 제거해주세요
### 리스트 내포 사용
### (굳이 안해도 되는데 남의 코드 볼때 모르면 안되니까
### 또한 가독성 좋다)

##### Python is powerful... and fast; plays well with others; runs everywhere; is friendly & easy to learn; is Open.

In [8]:
str="Python is powerful... and fast; plays well with others; runs everywhere; is friendly & easy to learn; is Open."
serch = "aeiou"
result = [i for i in str if i not in serch]
print("".join(result))

Pythn s pwrfl... nd fst; plys wll wth thrs; rns vrywhr; s frndly & sy t lrn; s Opn.

# 5
### 1~10까지의 정수를 항목으로 갖는 리스트 객체에서 filter 함수와 람다식을 이용해
### 짝수만을 선택한 후, map 함수와 람다식을 이용해 항목의 제곱 값을 갖는 리스트를 반환하는
### 프로그램을 작성해주세요

In [1]:
lit = []
for i in range(1,10+1):
    lit.append(i)

lit2 = list(filter(lambda x: x%2==0, lit))
result = list(map(lambda x: x**2 , lit2))
print(result)

[4, 16, 36, 64, 100]

# 6
### 팰린드롬이란 앞으로 읽을 때와 거꾸로 읽을 때 똑같은 단어를 말한다.
### 알파벳 소문자로만 이루어진 단어가 주어진다. 
### 이때, 이 단어가 팰린드롬인지 아닌지 확인하는 프로그램을 작성해주세요
### level, noon은 팰린드롬이고, online, judge는 팰린드롬이 아니다.
### (간단한 재귀함수 문제 )
### (재귀함수로 안풀어도 된다)

In [10]:
#1
#재귀함수 문제
# 1. 먼저 첫글자와 맨 마지막글자 비교
# 2. 그 다음에 두번째 글자부터 마지막에서 두번째 글자를 
# 다시 함수에 넣기
def is_palindrome(word):                           
    if len(word) < 2:
        return True
    if word[0] != word[-1]:
        return False
    return is_palindrome(word[1:-1])
                                    
print(is_palindrome('hello'))
print(is_palindrome('level'))

#2
# 반복문을 사용해 처음과 마지막
# 두번째와 마지막에서 두번째글자
# ... 이렇게 비교
def palindrome(t):
    for i in range(len(t_str)):
        if t_str[i] != t_str[len(t_str)-1-i]:
            return False
    return True
 
t_str = input()
if palindrome(t_str):
   print("입력하신 단어는 회문(Palindrome)입니다.")
else :
   print("입력하신 단어는 회문(Palindrome)이 아닙니다.")

False
True
level
level
입력하신 단어는 회문(Palindrome)입니다.

# 7
### 가변형 매개변수를 전달 받아 가장 큰 값을 반환하는 함수를 정의하고,
### 결과를 출력하는 프로그램을 작성해주세요

In [8]:
def f(*param):
       print("max{} => {}".format(param, max(param)))

 
f(3, 5, 4, 1, 8, 10, 2,51,24,11,3,9,10)

max(3, 5, 4, 1, 8, 10, 2, 51, 24, 11, 3, 9, 10) => 51

# 8
## 리스트 내포 기능을 이용하여 1부터 20 사이의 숫자중
## 3의 배수가 아니거나 5의 배수가 아닌 숫자들의 제곱 값으로 구성된
## 리스트 객체를 출력하는 프로그램을 만들어주세요!!

### (여기까지 초중급, 책찾아보면서 할수있게 함
### 다음부터 알고리즘 + 중급)

In [7]:
list2 = [i*i for i in range(1,20+1) if i%3!=0 and i%5!=0]
print(list2)

[1, 4, 16, 49, 64, 121, 169, 196, 256, 289, 361]

# 9 
- 그리디 알고리즘 :
- 당장 눈 앞에 보이는 최적의 상황만을 쫓는 알고리즘으로 알고리즘 형태중 가장 단순하다
- 무조건 큰 경우대로, 무조건 작은경우대로, 무조건 짧은경우대로 극단적으로 문제에 접근
- 각 숫자 자릿수의 합이 3의배수면 전체 숫자는 항상 3의 배수가 된다

### 어느 날, 현석은 우연히 길거리에서 양수 N을 보았다. 현석은 30이란 수를 존경하기 때문에, 그는 길거리에서 찾은 수에 포함된 숫자들을 섞어 30의 배수가 되는 가장 큰 수를 만들고 싶어한다.
### 현석을 도와 그가 만들고 싶어하는 수를 계산하는 프로그램을 작성해주세요!!
### N을 입력받는다. N는 최대 10^5개의 숫자로 구성되어 있으며, 0으로 시작하지 않는다.
### 현석이 만들고 싶어하는 수가 존재한다면 그 수를 출력하라. 그 수가 존재하지 않는다면, -1을 출력하라.
### 30 -> 30  102 - > 210   2931-> -1   80875542 -> 88755420
#### 출처 백준 10610

In [2]:
# 단계
# 1. 숫자들을 역으로 정렬
# 2.    각 숫자 자릿수의 합이 3의배수면 전체 숫자는 항상 3의 배수가 된다
# 2_1.  0이 포함되어있는 경우 큰 숫자 순서대로 출력

N=input("숫자 입력 : ")
#역으로 정렬
def check(N):
    N=sorted(N,reverse=True)
    sum=0
    print(N)
    #0없으면 30배수 안됨
    if "0" not in N:
        print(-1)
    else:
        for i in N:
            sum+=int(i)
        if sum%3!=0:
            print(-1)
        else:
            print("".join(N))


check(N)

숫자 입력 : 8087554230
['8', '8', '7', '5', '5', '4', '3', '2', '0', '0']
8875543200

# 10
- 분할정복 분할 정복법(Divide and Conquer)은 엄청나게 크고 방대한 문제를 조금씩 조금씩 나눠가면서 
- 용이하게 풀 수 있는 문제 단위로 나눈 다음 그것들을 다시 합쳐서 해결하자는 개념에서 출발하였다. 
- 대표적으로는 퀵소트 나 병합정렬이 있다
- 보통 재귀함수를 많이 사용한다



### 정수 4를 1,2,3의 합으로 나타내는 방법은 총 7가지가 있다
### 1+1+1+1
### 1+1+2
### 1+2+1
### 2+1+1
### 2+2
### 1+3
### 3+1
### 문제!! 정수 n이 주어졌을때, n을 1,2,3으로 나타내는 방법의 수를 구하는 프로그램을 작성하세요~~
#### 제한조건 n은 11보다 작다 (그이상하면 숫자 커짐)
### 4 -> 7   7->44 10 -> 274 12-> 927

In [ ]:
# 풀이
# 생각해야하는 점은 1,2,3 으로만 만들기
# 즉 n을 만들기 위해 무조건 1,2,3더해야 한다.
# 4의 경우를 생각해보면 (마지막에 더하는 수로 정렬해보기)
# 1+1+1+1
# 1+2+1
# 2+1+1
# 3+1

# 1+1+2
# 2+2

# 1+3

# 제일 마지막에 더하는게 1인 경우 4
# 2인 경우 2
# 3딘 경우 1

# 1인경우를 볼때 마지막 1을 제외 하면
# 1+1+1, 1+2, 2+1, 3 3을만드는 경우의 수와 같다
# 마찬가지로 마지막이 2인 경우도 마지막을 제외하면 2를 만드는 경우의 수와 같다

Num=int(input("정수 입력 : "))

def f(n):
    if n==1:
        return 1
    elif n==2:
        return 2
    elif n==3:
        return 4
    else:
        return f(n-1)+f(n-2)+f(n-3)

print(f(Num))

# 문제  폐기

### 1000까지의 소수의 개수를 구하시오
### hint : 에라토스테네스의체
### (기초 알고리즘)
### 모듈 있긴한데 알고리즘으로 풀어주셨으면 합니다....

- 다음의 결과와 같이 구구단 2단부터 9단의 결과값 중에 3의 배수거나 7의 배수인 수를

- 제외한 값을 리스트 객체 result 안에 각 단마다 리스트를 만들어 삽입하고 이를 출력하십시오.

# 포맷팅문제
- 트리 모양 만드세요

                                       *
                                       **
                                      ***
                                      ****
                                     *****
                                     ******
                                    *******
                                    ********
                                   *********
                                   **********
                                  ***********
                                  ************
                                 *************
                                 **************
                                ***************
                                ****************
                               *****************
                               ******************
                              *******************
                              ********************
                             *********************
                             **********************
                            ***********************
                            ************************
                           *************************
                           **************************
                          ***************************
                          ****************************
                         *****************************
                         ******************************
                        *******************************
                        ********************************
                       *********************************
                       **********************************
                      ***********************************
                      ************************************
                     *************************************
                     **************************************
                    ***************************************
                    ****************************************
                   *****************************************
                   ******************************************
                  *******************************************
                  ********************************************
                 *********************************************
                 **********************************************
                ***********************************************
                ************************************************
               *************************************************
               **************************************************

# 1~9 사이의 정수 a를 입력받아 a + aa + aaa + aaaa 의 값을 계산하는 프로그램을 작성하십시오.

#  10진수를 2진수로 변환하는 프로그램을 작성하십시오.

# 매개변수로 전달된 숫자를 이용해 카운트다운하는 함수 countdown을 정의하고,
# countdown(0), countdown(10)을 순서대로 실행하십시오.
# 0보다 작거나 같은 인자가 전달되었을 경우 "카운트다운을 하려면 0보다 큰 입력이 필요합니다."를 출력하십시오.

# enumerate
- student라는 list에 손준호, 오유정, 오경민, 장현석, 김민희, 도한재 입력하고
- enumerate를 사용해 각각 이름에 순서를 넣어주는 프로그램 만들어주세요

# numpy 모듈을 사용하여 
- 1. 10~49까지의 수를 가지고 있는 리스트를 출력하세요
- 2. 역으로 출력하세요