# 이스케이프 코드

In [1]:
# print문 안에서 동작
# \n : 개행
# \t : 수평탭
# \\ : 문자 \
# \' : 단일인용부호
# \" : 이중 인용부호

In [5]:
s="가나\"다\n라마바\'사"
print(s)

가나"다
라마바'사

# 인덱싱 슬라이싱
- [인덱스 번호] : 해당 인덱스 값 출력
- [시작 인덱스 번호 : 끝나는 인덱스 다음번호 ]: 해당범위의 값 출력 
- [:인덱스] : 처음부터 인덱스 전까지
- [인덱스:] : 인덱스부터 끝까지

In [6]:
name = "my name is JH"

In [14]:
# y 가져오기
# 이름 가져오기
print(name[1])
print(name[11:])
print(name[-12])
print(name[-2:])
print(name[::1])

y
JH
y
JH
my name is JH

# 포메팅 2가지
- 포맷 기능 : %
- 포맷 함수 : .format

In [15]:
# %s : 문자열
# %c : 문자 1개
# %d : 정수
# %f : 실수

In [18]:
month=1
day=20
date1= "오늘 날짜는 %d월 %d일 입니다."%(month, day)
print(date1)

오늘 날짜는 1월 20일 입니다.

In [19]:
month=1
day=20
date2="오늘 날짜는 {}월 {}일입니다.".format(month,day)
print(date2)

오늘 날짜는 1월 20일입니다.

### 유용한 함수
*replace 문자열바꾸기
*split 문자열나누기
*count 개수세기
*find 위치찾기

In [24]:
name="이명훈"
name.replace("이", "LEE")# 출력하고 저장 안함
print(name)
name=name.replace("이", "LEE")# 저장해야함
print(name)

이명훈
LEE명훈

In [29]:
name="손 준 호"
name.split(" ")
list=name.split(" ")
print(list)
first_name=list[0]
last_name=list[1]+list[2]
print(first_name)
print(last_name)

['손', '준', '호']
손
준호

In [28]:
name="손준호gjhghghghghghghghghghghgh"
num=name.count("gh")
print(num)

11

In [30]:
name="손준호"
name.find("호")
index=name.find("호")
print(index)

2

# 리스트
- [_] 
- append 추가
- insert 인덱스 위치에 값 추가
- remove 제거

In [31]:
list1=[1,2,3,4,5]

In [38]:
# 맨 뒤에 6 추가
list1.append(6)
print(list1)
# 맨 앞에 -1 추가
list1.insert(0,-1)
print(list1)

[1, 2, 3, 4, 5, 6]
[-1, 1, 2, 3, 4, 5, 6]

In [35]:
#-1 삭제
list1.remove(-1)
print(list1)

[1, 2, 3, 4, 5, 6, 6]

In [37]:
list1.remove(6)
print(list1)

[1, 2, 3, 4, 5]

# 튜플
리스트와 유사
값을 수정할 수 없다
()

In [40]:
tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

# 딕셔너리
- {key : value, key=value}
key : 하나의 값
value : 여러가지값

In [44]:
dic1={"이름": ["이명훈","나예호"], "과목":["파이썬", "자바"]}

In [45]:
print(dic1["이름"])
print(dic1["과목"])

['이명훈', '나예호']
['파이썬', '자바']

In [46]:
dic1.get("이름")

['이명훈', '나예호']

In [47]:
# key값 검색
dic1.keys()

dict_keys(['이름', '과목'])

In [48]:
#value값 검색
dic1.values()

dict_values([['이명훈', '나예호'], ['파이썬', '자바']])

In [49]:
# 값 추가
# dic1[key]=value
dic1["나이"]=[20,21]
print(dic1)

{'이름': ['이명훈', '나예호'], '과목': ['파이썬', '자바'], '나이': [20, 21]}

In [50]:
# 값 삭제
# key값 입력
del dic1['나이']
print(dic1)

{'이름': ['이명훈', '나예호'], '과목': ['파이썬', '자바']}

In [51]:
dic1["이름"]=["이명훈", "나예호", "손준호"]

In [52]:
print(dic1)

{'이름': ['이명훈', '나예호', '손준호'], '과목': ['파이썬', '자바']}